 
<div class="row">
    <div class="checkout-steps">
        <hr>
        <div class="step step-1 {% if step == 'summary' or
                                      step == 'identification' or
                                      step == 'delivery' or
                                      step == 'pay' or
                                      step == 'invoice'%}active{% endif%}">
            <span>1</span>
            <span>Vista previa</span>
        </div>
        <div class="step step-2 {% if step == 'identification' or
                                      step == 'delivery' or
                                      step == 'pay' or
                                      step == 'invoice' %}active{% endif%}">
            <span>2</span>
            <span>Identificación</span>
        </div>
        <div class="step step-3 {% if step == 'delivery' or
                                      step == 'pay' or
                                      step == 'invoice' %}active{% endif%}">
            <span>3</span>
            <span>Datos para el envio</span>
        </div>
        <div class="step step-4 {% if step == 'pay' or
                                      step == 'invoice' %}active{% endif%}">
            <span>4</span>
            <span>Detalle y Pago</span>
        </div>
        <div class="step step-5 {% if step == 'invoice' %}active{% endif%}">
            <span>5</span>
            <span>Factura</span>
        </div>
    </div>
</div>   