<!-- BEGIN FORM-->    
    <!-- The file upload form used as target for the file upload widget -->
    <form id="fileupload" action="{{ path('ecommerce_product_manageimage', { id: entity.id, slug: entity.slug , type: 'product', route: 'ecommerce_product_manageimage', entity: 'EcommerceBundle:Product', 'image_entity': 'CoreBundle:Image'}) }}" method="POST" enctype="multipart/form-data">
        <!-- Redirect browsers with JavaScript disabled to the origin page -->
        <noscript>
        <input type="hidden" name="redirect" value="{{twig_global.getParameter('server_base_url')}}/admin/products">
        </noscript>
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success btn-flat fileinput-button">
                    <i class="glyphicon white glyphicon-plus"></i>
                    <span>Agregar archivo</span>
                    <input type="file" name="files[]" multiple>
                </span>
                <button type="submit" class="btn btn-primary btn-flat start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Iniciar subida</span>
                </button>
                <button type="reset" class="btn btn-warning btn-flat cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancelar subida</span>
                </button>
                <button type="button" class="btn btn-danger btn-flat delete">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Eliminar</span>
                </button>
                <input  class="minimal" type="checkbox" class="toggle">
                <!-- The global file processing state -->
                <span class="fileupload-process"></span>
            </div>
            <!-- The global progress state -->
            <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
    </form>
<!-- END FORM-->

<!-- The template to display files available for upload -->
{% verbatim %}
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary btn-flat start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning btn-flat cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img width="200" src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}><img width="200" src="{%=file.url%}"></a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <div style="display: block;overflow: hidden;margin-bottom: 4px;">
              <input id="title-{%=i%}" value="{%=file.title%}" data="{%=file.name%}" style=" width: 200px;padding-left: 5px;height: 22px;float: left;margin-right: 4px;" type="text" id="alt" name="title" placeholder="Titulo">
              <a onclick="updateImage('title',{%=i%})" style="float: left;" class="btn btn-xs btn-flat btn-info update-title">Guardar</a>
            </div>
            <div>
              <input id="alt-{%=i%}" value="{%=file.alt%}" data="{%=file.name%}" style=" width: 200px;padding-left: 5px;height: 22px;float: left;margin-right: 4px;" type="text" id="alt" name="alt" placeholder="Texto alternativo">
              <a onclick="updateImage('alt',{%=i%})" style="float: left;" class="btn btn-xs btn-flat btn-info update-alt">Guardar</a>
            </div>
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger btn-flat delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning btn-flat cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
{% endverbatim %}